/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Nunito', 'Roboto', sans-serif;
  background-color: #F9FAFB;
  color: #111827;
}

:root {
  --primary-color: #22C55E;
  --primary-light: #DCFCE7;
  --text-dark: #111827;
  --text-medium: #4B5563;
  --bg-light: #F9FAFB;
  --bg-card: #FFFFFF;
  --border-light: #c0c0c0;
}

.p-card {
  background-color: #eeeeee !important;
  border: #dddddd 1px solid ;
  border-radius: 6px !important;
  box-shadow: none !important;
  .p-card-header {
    padding: 10px;
    background-color: var(--bg-light);
  }
}

.p-tag {
  border-radius: 6px !important;
  padding: 0.25rem 0.5rem;
  font-size: 12.5px !important;
}